// после установки бейбл лоадера, необходимо прописать конфигурацию
{
    "presets": [
        ["@babel/preset-env", {
            "targets": [
                "last 5 versions"  // поддержка 5 последних версий браузеров
            ]
        }]
    ]
}